@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css);
body{
    background-color: rgb(238, 238, 238);
}

#logo{
    width: 45px;
}

.bg-dark{
    background-color: #2B2F3A !important;
}