@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css);
@import url(https://www.jqueryscript.net/css/jquerysctipttop.css);


:root{
}

.hidden{
    visibility: hidden;
}

body{
    background-color: #4B7FBC;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

.bg-dark{
    background-color: #2B2F3A !important;
}

/* NavBar */
#logo{
    width: 45px;
}

.navbar{
    height: 70px !important;
}

.container-fluid{
    background-color: #2B2F3A;
}


/* All Pages*/
.pagephp{
    height: calc(200%);
}



/* FOOTER */
.footer{
    height: 50px;
    background-color: #2B2F3A;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.footer-element{
    margin: 0px;
    width: fit-content;
}

.footer a, .footer p{
    margin: 0px;
}




/* Login y Register form*/
.form-contenedor{
    width: 50vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(20vh - 70px);
    margin-bottom: calc(20vh - 50px);
    padding: 10px;
    box-shadow: 1px 1px 10px 1px #000000;
    background-color: #D8D8D8;
}


.form-square-form{
    padding: 10px;
}

.form-title{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

.btn{
    background-color: #4B7FBC;
    border-radius: 0px;
    width: 100%;
}

.form-control{
    border-radius: 0px;

    text-align: center;
}

.square{
    width: 20px;
    height: 30px;
    background-color: #4B7FBC;
    margin: 5px;
    margin-left: 20px;
}

.square, .form-title{
    display: inline-block;
}

.button a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    font-size: 20px;
}

.button{
    text-align: right;
}

.button a{
    font-size: 15px;

}
  
.btn{
    background-color: #4B7FBC;
    border-radius: 0px;
    width: 100%;

}

.subform{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 20px;
}

/*Appointment-form*/

.hour{
font-size: 13px;
text-align: center;
background: #ffffff;
border: 1px solid black;
padding: 5px;
height: 40px;
}
.hours-table{
    margin: auto;
}

@media only screen and (max-width: 600px)  {
    .form-contenedor{
        width: 100%;
        height: calc(100vh - (70px + 50px));
        margin: 0px;
    }

    .subform{
        font-size: 15px;
    }
  }

